@{
    ViewData["Title"] = "O Eshopu";
}

<div class="text-center">
    <h1>O eshopu</h1>
    <img class="titulniobrazek" src="~/pictures/pin_12.jpg" alt="hlavní obrázek eshopu" />
    <h2>O našem Eshopu</h2>
    <p>Eshop je vytvořený jako zkouška pro zobrazení produktů.</p>
    <p>V záložce <a href="">Produkty</a> je možné produkty přidávat, smazat nebo upravit, či zobrazit jejich detail. </p>
</div>