@{
    ViewData["Title"] = "Hlavní strana Eshopu";
}

<div class="text-center">
    <h1 class="display-4">Hlavní strana</h1>
    <h2>Vítejte na našem E-shopu.</h2>
    <p>Pokračujte na stránku o našem e-shopu nebo přejděte na nabízené produkty.</p>
</div>
